<div class="container">

  <div class="row">
    <div class="col-md-12">
        <ui-header></ui-header>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="row fixed-bottom">
    <div class="col-md-12">
      <div class="card-footer bg-light">
        <div class="row">
          <div class="col-md-12">
            <ui-scroll-to-top> </ui-scroll-to-top>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
