<form [formGroup]="itemForm">
  <div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input type="text"
                    id="itemName"
                    formControlName="itemName"
                    class="form-control"
                    max="20"
                    placeholder="Item Name">
                    <small *ngIf="itemName.invalid && itemName.touched">
                        <small class="text-danger" *ngIf="itemName.errors.required">{{errors.required}}</small>
                        <small class="text-danger" *ngIf="itemName.errors.maxlength">{{errors.maxLength}}<br></small>
                    </small>
        </div>
    </div>
    <div class="col-md-8">
        <div class="form-group">
            <input type="text"
                    id="itemDescription"
                    formControlName="itemDescription"
                    class="form-control"
                    max="100"
                    placeholder="Item Description">
                    <small *ngIf="itemDescription.invalid && itemDescription.touched" >
                        <small class="text-danger" *ngIf="itemDescription.errors.required">{{errors.required}}</small>
                        <small class="text-danger" *ngIf="itemDescription.errors.maxlength">{{errors.maxLength}}<br></small>
                    </small>
        </div>
    </div>
  </div>
</form>
